/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
  }
  
  /* Container styles */
  .container {
    width: 90%;
    margin: 0 auto;
  }
  
  /* Header styles */
  header {
    background-color: black;
    padding: 20px 0;
  
  }
  
  .logo img {
    width: 200px;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
  }
  
  /* Your CSS styles for the slideshow */
  .slideshow {
    position: relative;
    overflow: hidden;
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width: 100%;
  }
  
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: black;
  }
  
  /* Footer styles */
  footer {
    background-color: red;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  footer p {
    margin: 0;
  }
  