/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: white;
}

/* Container styles */
.container {
  width: 90%;
  margin: 0 auto;
}

.headerContainer {
  display: flex;
  align-items: center;
}

/* Header styles */
header {
  background-color: black;
  padding: 10px 125px;
}

.logo img {
  width: 200px;
}

nav {
  margin-left: auto;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

nav ul li a:hover {
  color: red;
}

/*hero image*/

.hero {
  margin: 20px 150px;
  position: relative;
}

.overLay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 99%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overLay > h1 {
  color: white;
  font-size: 3rem;
}

@keyframes fadeInUpText {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.projectTitle {
  margin: 30px 150px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  animation: 1.5s fadeInUpText;
  margin: 20px;
}

/* content */
.content {
  margin: 10px 100px;
  padding: 20px 50px;
  height: fit-content;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-row-gap: 50px;
}
.content > div {
  padding: 20px;
}

.row1 {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  grid-column-gap: 30px;
}

.row2 {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  grid-column-gap: 30px;
}

img {
  max-width: 100%;
}

.infoContainer1,
.infoContainer2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 20px 0;
  gap: 10px;
}

.contentHeadings {
  color: black;
}

@keyframes fadeInUp {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.hero,
.content {
  animation: 1.5s fadeInUp;
}

/* Footer styles */
footer {
  background-color: red;
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

/*------Dashboard Styling-------*/
html,
body {
  margin: 0px;
}
.gridContainer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.gridContainer > div {
  background-color: #ccc;
  border: 1px solid #777;
}

.sideBar {
  grid-row: 1 / span 2;
  grid-column: 1;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.choroContainer {
  grid-column: 2 / span 3;
  grid-row: 1;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.choroHeading,
.fillerHeading,
#lineHeading > h2,
#lineHeading > h3,
.linePara > h2,
.lineParaInfo {
  color: #232b2b;
}

.lineContainer {
  grid-column: 2 / span 3;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  border-bottom-right-radius: 8px;
}

.lineGraph {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #777;
}
.linePara {
  padding: 10px 30px;
  border-right: 1px solid #777;
}

.linePara > h2 {
  justify-self: normal;
}

.lineParaInfo {
  padding-top: 10px;
  gap: 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.continent {
  background-color: black;
  border-radius: 8px;
  padding: 10px;
}
.continent > h2 {
  margin-top: 0px;
}

.continent > button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #ff0000;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.continent > button:hover {
  background-color: #b03832;
}

h2 {
  color: #eee;
}

.hiding {
  display: none;
}
.lineHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lineHeading > h2,
.lineHeading > h3 {
  margin: 5px;
}

.hi > path {
  stroke-opacity: 0%;
}

.tooltip {
  background: rgba(255, 255, 255, 0.9);
}

.toolSub {
  margin-bottom: 8px;
}

.gridContainer > div > div,
.gridContainer > div > h2,
.gridContainer > div > svg {
  animation: 1.5s fadeInUp;
}

.noDataIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 200px;
}
/*------Lets Compare Styling------*/


.container-compare {
  animation: 1.5s fadeInUpText;
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.description-box {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
}

.dropdown-container-compare {
  animation: 1.5s fadeInUpText;
  display: flex;
  margin: 30px;
  justify-content: space-around;
  margin-bottom: 30px;
}

.chart-container-compare {
  animation: 1.5s fadeInUpText;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
}

#chart1, #chart2 {
  animation: 1.5s fadeInUpText;
  background-color: white; /* Ensure a white background for the SVG containers */
  width: 500px;
  height: 500px;
}

.dropdown {
  width: 100%;
  max-width: 300px;
}

.dropdown label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.dropdown input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 2px solid #ddd;
  background-color: #fff;
}
