/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-rows: auto auto auto-;
}

/* Container styles */
.container {
  width: 90%;
  margin: 0 auto;
}

/* Header styles */
header {
  background-color: black;
  padding: 20px 0;
}

.logo img {
  width: 200px;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

/* Your CSS styles for the slideshow */
.slideshow {
  position: relative;
  overflow: hidden;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.slide img {
  width: 100%;
}

.text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: black;
}

/* Footer styles */
footer {
  background-color: red;
  color: white;
  width: 100%;
  padding: 10px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

.homeFooter {
  position: absolute;
  left: 0;
  bottom: 0;
}

/*------Dashboard Styling-------*/
html,
body {
  margin: 0px;
}
.gridContainer {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, 1fr);
}

.gridContainer > div {
  background-color: #ccc;
  border: 1px solid #777;
}

.sideBar {
  grid-row: 1 / span 2;
  grid-column: 1;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.choroContainer {
  grid-column: 2 / span 3;
  grid-row: 1;
  border-top-right-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.lineContainer {
  grid-column: 2 / span 3;
  grid-row: 2;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  border-bottom-right-radius: 8px;
}

.lineGraph {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.linePara {
  background-color: inherit;
}

.lineParaInfo {
  padding-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
}

.buttons {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  justify-content: center;
}

.continent {
  background-color: black;
  border-radius: 8px;
  padding: 10px;
}
.continent > h2 {
  margin-top: 0px;
}

.continent > button {
  margin: 5px;
  padding: 8px 16px;
  background-color: #ff0000;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.continent > button:hover {
  background-color: #b03832;
}

h2 {
  color: #eee;
}

.hiding {
  display: none;
}
.lineHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.lineHeading > h2,
.lineHeading > h3 {
  margin: 5px;
}

.domain {
  stroke-opacity: 0%;
}

.tooltip {
  background: rgba(255, 255, 255, 0.9);
}

.toolSub {
  margin-bottom: 8px;
}
